<div class="card">
    <div class="text-center ">
        <h1 class="display-4">Bienvenido al Sistema de Inmobiliarias de .NET</h1>
    </div>
</div>
<div>
    <div class="card text-center">
        <div class="card-content">
            <div class="card-body">
                <p class="card-text">Esta es la pagina q dice q esta logeado.</p>
                
            </div>
        </div>
    </div>
</div>